@import '~mdb-ui-kit/css/mdb.min.css'; 

html, body {
  height: 100%;
  width: 100%;
  margin: 0;}

.hiddenss{
  display: block;
}

.shownss{
  display: none;
}

@media screen and (max-width: 600px) {
  .hiddenss{
  display: none;
  }
  .shownss{
  display: block;
}
}
